@mixin boton($width: 90px, $height: 33px) {
  width: $width;
  height: $height;
  font-family: $font-textos-generales;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
}

@mixin boton-hover {
  background: linear-gradient(#061efc 0%, #527ffc 51%, #9db2f8 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@mixin tag {
  display: flex;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: $negro;
  overflow: hidden;
  font-size: 16px;
  font-family: $font-textos-generales;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  img {
    width: 40px;
    padding: 5px;
    background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 3px;
  }
}

@mixin tag-pequeño {
  display: flex;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  color: $negro;
  overflow: hidden;
  font-size: 14px;
  font-family: $font-textos-generales;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  img {
    width: 30px;
    padding: 5px;
    background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 3px;
  }
}

@mixin box {
  width: 70%;
  max-width: $max-whidth;
  margin-top: 30px;
  margin-bottom: 20px;
  color: $negro;
  font-family: $font-textos-generales;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
}

@mixin h2-descripcion {
  font-family: $font-titulo;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0%;
}

@mixin select{
height: 30px;
border: none;
background-color: transparent;
color: red;
border-bottom: solid 1px black;
}

@mixin item($textShadow:0px 0px 5px rgba(252, 227, 6, 0.46)){
  flex-direction: column;
  h2 {
    @include h2-descripcion;
    padding-left: 20px;
  }
  .item {
    div {
      display: flex;
      padding-left: 20px;
      .img-item {
        width: 40px;
        height: 40px;
        overflow: hidden;
        padding: 10px;
        img {
          width: 100%;
        }
      }
      .nombre-item {
        text-shadow: $textShadow;
        @include h2-descripcion;
        font-size: 30px;
        letter-spacing: 0px;
        margin-top: 10px;
      }
    }
    .descripcion-item {
      width: 90%;
      margin-left: 30px;
      font-family: $font-textos-generales;
      margin-top: 0%;
    }
  }
    
  
}