.oscuro {
  background-image: url("../imagenes/fondo-oscuro.png");
  nav {
    border-bottom: solid 2px $gris;
    .boton-hamburguesa {
      i {
        color: $blanco;
      }
    }
    .modal-menu {
      background-color: rgba(87, 85, 85, 0.562);
      .fa-window-close {
        color: $blanco;
      }
      .buttons-nav {
        li {
          button {
            background-color: rgba(87, 85, 85, 0.562);
            color: $blanco;
          }
        }
      }
    }
  }

#formulario-busqueda {
  #input-busqueda::placeholder {
    color: $blanco;
  }
  .contenedor-select {
    label {
      color: $blanco;
    }
    select {
      color: rgb(184, 175, 175);
    }
  }
}
.tarjeta-brawler {
  background-color: $blanco;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  h3 {
    color: $negro;
  }
}
#descripcion {
  .contenedor-principal {
    @include box-oscuro;
  }
  #seccion-star-powers {
    @include box-oscuro;
  }
  #seccion-gadgets {
    @include box-oscuro;
  }
  #seccion-videos {
    @include box-oscuro;
  }
}
#seccion-modos-juego {
  h2{color: $blanco;}
}
.seccion-descripcion-modo {
  h2 {
    color: $blanco;
  }
  .descripcion-modo {
    color: $blanco;
  }
}

footer {
  background-color: transparent;
  border-top: solid 2px $gris;
}
}