#formulario-busqueda {
  width: 70%;
  height: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #input-busqueda {
    width: 70%;
    height: 30px;
    border: none;
    background: transparent;
    border-bottom: solid 1px $gris;
  }
  #input-busqueda::placeholder {
    font-family: $font-textos-generales;
    font-size: 16px;
    font-weight: 800;
    color: $negro;
  }
  #boton-buscar {
    @include boton($width: 15%);
  }
  #boton-buscar:hover {
    @include boton-hover;
  }
}

@media screen and (max-width: 800px) {
  #formulario-busqueda {
    width: 95%;
    #boton-buscar {
      @include boton($width: 12%);
    }
  }
}
@media screen and (max-width: 500px) {
  #formulario-busqueda {
    flex-direction: column;
    #input-busqueda {
      width: 90%;
    }
    #boton-buscar {
      @include boton($width: 30%);
    }
    #input-busqueda::placeholder {
      font-size: 14px;
    }
  }
  
}
