#formulario-busqueda {
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  #input-busqueda {
    width: 50%;
    height: 30px;
    border: none;
    background: transparent;
    border-bottom: solid 1px $gris;
  }
  #input-busqueda::placeholder {
    font-family: $font-textos-generales;
    font-size: 16px;
    font-weight: 800;
    color: $negro;
  }
  #boton-buscar {
    @include boton($width: 10%);
  }
  #boton-buscar:hover {
    @include boton-hover;
  }
}
.contenedor-select {
  display: flex;
  justify-content: space-around;
  label {
    font-family: $font-textos-generales;
    font-size: 16px;
    font-weight: 800;
    color: $gris;
    margin-right: 5px;
    margin-left: 10px;
  }
  select {
    @include select;
  }
}

@media screen and (max-width: 800px) {
  #formulario-busqueda {
    width: 95%;
    #boton-buscar {
      @include boton($width: 12%);
    }
  }
}
@media screen and (max-width: 750px) {
  #formulario-busqueda {
    flex-wrap: wrap;
    align-items: flex-start;
    #input-busqueda {
      width: 70%;
    }
    #boton-buscar {
      @include boton($width: 20%);
    }
    #input-busqueda::placeholder {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 400px) {
  #formulario-busqueda {
    #input-busqueda::placeholder {
      font-size: 10px;
    }
    label {
      font-size: 12px;
    }
  }
}
