nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-whidth;
  height: 80px;
  background-color: transparent;
  border-bottom: solid 1px $gris;
  .logo {
    width: 120px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  img {
    width: 100%;
  }
  .boton-hamburguesa {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    margin-right: 15px;
    i {
      color: $gris;
      font-size: 24px;
    }
  }

  .modal-menu {
    width: 200px;
    height: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.753);
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
    .fa-window-close {
      font-size: 22px;
      margin: 10px;
    }
    .buttons-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      li {
        button {
          @include boton-nav;
        }
      }
    }
  }
}
