nav {
  background-color: $negro;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 120px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  img {
    width: 100%;
  }
  #boton-nav-brawlers {
    margin-right: 40px;
    background: transparent;
    border: none;
    color: white;
    font-family: $font-titulo;
    font-size: 32px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#boton-nav-brawlers:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
