nav {
  width: 100%;
  max-width: $max-whidth;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 120px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  img {
    width: 100%;
  }
 

.buttons-nav{
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
  #boton-nav-brawlers {
    display: none;
    background: transparent;
    border: none;
    color:$negro;
    font-family: $font-titulo;
    font-size: 32px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

#boton-nav-brawlers:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#boton-modo{
  width: 60px;
  border: none;
  background-color: transparent;
  img{
      width: 100%
  }
}
}
}