.paginado{
  width: 270px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  button {
    @include boton($width:50px, $height:33px)
  }
  button :hover{ 
  color: blue;
  }
}


