.seccion-principal-brawlers {
  max-width: $max-whidth;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .contenedor-tarjetas-brawlers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
