.seccion-principal-brawlers {
  display: flex;
  align-items: center;
  background-color: transparent;
  .contenedor-tarjetas-brawlers {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
}
// corregir para que quede centrado el contenedor