#descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contenedor-principal {
    @include box;
  }

  .contenedor-img-principal-descripcion {
    width: 180px;
    overflow: hidden;
    margin: 20px;
    .img-principal-descripcion {
      width: 100%;
    }
  }

  .info-principal-descripcion {
    width: 70%;
    h2 {
      @include h2-descripcion;
    }
    #rarity-descripcion {
      background-color: black;
      border-radius: 3px;
      padding: 3px;
      width: 150px;
    }
    p {
      margin-top: 3px;
      margin-bottom: 12px;
      width: 95%;
    }
  }
}

#seccion-star-powers {
  @include box;
  @include item;
}

#seccion-gadgets {
  @include box;
  @include item($textShadow: 0px 0px 5px rgba(15, 231, 55, 0.685));
}
#seccion-videos {
  @include box;
  @include item($textShadow: 0px 0px 5px rgba(15, 146, 253, 0.685));
  #contenedor-videos {
    display: flex;
    justify-content: space-around;
    div {
      flex-direction: column;
    }
    .video-item {
      padding-left: 0;

      video {
        width: 200px;
        border: solid 10px black;
      }
    }
    .descripcion-item {
      margin-left: 20px;
    }
  }
}
#seccion-star-powers {
  display: none;
}
#seccion-gadgets {
  display: none;
}
#seccion-videos {
  display: none;
}
@media screen and (max-width: 700px) {
  #seccion-descripcion {
    width: 90%;
  }
  #seccion-videos {
    #contenedor-videos {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 500px) {
  .contenedor-principal {
    flex-direction: column;
    width: 100%;
  }
  #descripcion {
    .contenedor-principal {
      width: 90%;
    }
    .info-principal-descripcion {
      width: 90%;
      padding-left: 20px;
      .contenedor-principal {
        width: 90%;
      }
    }
  }

  #seccion-star-powers {
    width: 90%;
  }
  #seccion-gadgets {
    width: 90%;
  }
  #seccion-videos {
    width: 90%;
  }
}
