.tarjeta-brawler {
  width: 200px;
  margin: 20px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.25s;
  h3 {
    color: white;
    margin: 15px;
    font-weight: 600;
    font-family: $font-titulo;
    font-size: 32px;
   letter-spacing:3px;
  }
}

.tarjeta-brawler :hover{ 
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
