body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/imagenes/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 500px;
  max-width: 1500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("/imagenes/principal.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  background-color: #312f2f;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 120px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
nav img {
  width: 100%;
}
nav #boton-nav-brawlers {
  margin-right: 40px;
  background: transparent;
  border: none;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 32px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#boton-nav-brawlers:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.seccion-principal-brawlers {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.seccion-principal-brawlers .contenedor-tarjetas-brawlers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-brawler {
  width: 200px;
  margin: 20px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s;
}
.tarjeta-brawler h3 {
  color: white;
  margin: 15px;
  font-weight: 600;
  font-family: "Teko", sans-serif;
  font-size: 32px;
  letter-spacing: 3px;
}

.tarjeta-brawler :hover {
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.paginado {
  width: 270px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.paginado button {
  width: 50px;
  height: 33px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
}
.paginado button :hover {
  color: blue;
}

#formulario-busqueda {
  width: 70%;
  height: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#formulario-busqueda #input-busqueda {
  width: 70%;
  height: 30px;
  border: none;
  background: transparent;
  border-bottom: solid 1px #706f6f;
}
#formulario-busqueda #input-busqueda::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #312f2f;
}
#formulario-busqueda #boton-buscar {
  width: 15%;
  height: 33px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
}
#formulario-busqueda #boton-buscar:hover {
  background: linear-gradient(#061efc 0%, #527ffc 51%, #9db2f8 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 800px) {
  #formulario-busqueda {
    width: 95%;
  }
  #formulario-busqueda #boton-buscar {
    width: 12%;
    height: 33px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
  }
}
@media screen and (max-width: 500px) {
  #formulario-busqueda {
    flex-direction: column;
  }
  #formulario-busqueda #input-busqueda {
    width: 90%;
  }
  #formulario-busqueda #boton-buscar {
    width: 30%;
    height: 33px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#d60000 0%, #fc3737 51%, #fa8e8e 100%);
  }
  #formulario-busqueda #input-busqueda::placeholder {
    font-size: 14px;
  }
}
#contenedor-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.541);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
#contenedor-modal #modal-busqueda {
  width: 300px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: white;
}
#contenedor-modal #modal-busqueda .contenedor-img-busqueda {
  width: 300px;
  overflow: hidden;
}
#contenedor-modal #modal-busqueda .contenedor-img-busqueda img {
  width: 100%;
}
#contenedor-modal #modal-busqueda h2 {
  font-family: "Teko", sans-serif;
  text-align: center;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 10px;
}
#contenedor-modal #modal-busqueda p {
  width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 14px;
}
#contenedor-modal #modal-busqueda .subtitulo {
  font-weight: 900;
  font-size: 16px;
}
#contenedor-modal #modal-busqueda #cerrar-modal {
  position: relative;
  bottom: 330px;
  left: 270px;
  border: none;
  background-color: transparent;
}
#contenedor-modal #modal-busqueda #cerrar-modal i {
  font-size: 18px;
  color: #706f6f;
}

/*# sourceMappingURL=style.css.map */
